*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body{
    background-color: #e9e9e9;
    padding-bottom: 2%;
}

main{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    padding-bottom: 2%;
    width: 90%;
    margin-top: 2%;
    border-radius: 20px;
    background-color: #f0f0f0;
    box-shadow: 12px 12px 15px -15px rgba(0,0,0,0.5), -12px -12px 15px -0px rgb(255, 255, 255);
}

h1{
    text-align: center;
    font-size: 6em;
    margin-top: 1rem;
    letter-spacing: 0.1em;
}

.titulo{
    text-align: center;
    letter-spacing: 0.1em;
}

h2{
    font-size: 4em;
    margin-top: -0.5em;
}

.card{
    background-color: #f0f0f0;
    padding: 1em;
    margin: 0.5em;
    margin-top: 1.5em;
    border-radius: 20px;
    border: 1px;
    border-color: rgb(0, 0, 0, 0.1);
    border-style: solid;
    box-sizing: content-box;
    box-shadow: 12px 12px 15px -15px rgba(0,0,0,1), -12px -12px 15px -0px rgb(255, 255, 255); 
}

h3{
    
    font-size: 2em;
    font-weight: 700;
    padding: 1%;
    box-sizing: content-box;
    letter-spacing: 0.03em;
}

form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
label{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

input:not(.check){
    width: 50%;
    height: 1em;
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}

input[type="text"], input[type="email"]{
     box-shadow: inset 12px 12px 15px -15px rgba(0,0,0,0.5), -12px -12px 15px -0px rgb(255, 255, 255);
}

input:disabled{
    border: none;
}

input:focus{
    text-align: left;
    outline: none;
    border: 0;
    background-color: rgb(202, 202, 202);
}

input[type="email"]:valid{
    background-color: rgb(167, 192, 161);
}

input[type="email"]:invalid{
    background-color: rgb(192, 161, 161);
}

input:required{
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

.check{
    width: 30px;
    height: 30px;
}

.ek{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

input[type="checkbox"]:checked{
    box-shadow: 0px 0px 10px 5px #000000;
}

.rad{
    display: flex;
}


.rad input:default{
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px black;
    
}

.rad_l{
    width: fit-content;
}

input[type="number"]:out-of-range{
    border: 1px solid #ff3344;
}

input[type="number"]:in-range{
    border: 1px solid #2b8530;
}